// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: #FDF6F6;
    font-family: 'Poppins', sans-serif;
}

input{
    border-radius: 50px !important;
    background: #f1f3f4 !important;
}

.card {
    border: none;
    box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 10%);
    border-radius: 20px;
}

.botao-cadastrar {
    margin-top: 5%;
}

.btn {
    border-radius: 50px;
}

.btn-secondary {
    color: #1b1e21 !important;
    background-color: #FDF6F6;
    border: 2px solid #3490dc;
}

.btn-wider {
    width: 50%;
}

