// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-color: #FDF6F6;
    font-family: 'Poppins', sans-serif;
}

input{
    border-radius: 50px !important;
    background: #f1f3f4 !important;
}

.bg-red {
    background-color: #d63031;
}

.navbar-brand {
    color: white !important;
}

.nav-link{
    color: white !important;
}

.card {
    border: none;
    box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 10%);
    border-radius: 20px;
}

.botao-cadastrar {
    margin-top: 5%;
}

.btn {
    border-radius: 50px;
}

.btn-secondary {
    color: #1b1e21 !important;
    background-color: #FDF6F6;
    border: 2px solid #3490dc;
}

.btn-wider {
    width: 50%;
}

.titulo-secao {
    width: 80%;
    margin-right: 5%;
    margin-bottom: 3%;
    font-size: 18px;

    p {
        padding: 0 5%;
        border-left: 3px solid #EA1515;
    }
}

.card-pequeno {
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 4px hsla(0, 0%, 0%, 15%);
    margin-bottom: 5%;
    @media(min-width: 300px) {
        min-width: 300px;
    }

    @media(min-width: 321px) {
        min-width: 350px;
    }

    @media(min-width: 376px) {
        min-width: 380px;
    }
}


.card-grande {
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 4px hsla(0, 0%, 0%, 15%);
    margin-bottom: 5%;

    @media(min-width: 300px) {
        width: 270px;
        min-height: 300px;
    }

    @media(min-width: 321px) {
        width: 320px;
        min-height: 300px;
    }

    @media(min-width: 376px) {
        width: 350px;
        min-height: 300px;
    }
}

.nome-pessoa {
    display: inline-block;
    padding: 15px 5px 0 15px;
    font-size: 16px;
    margin-bottom: 0;
}

.localizacao-pessoa {
    display: inline-block;
    font-size: 12px;
    padding: 0 5px 10px 15px;
    color: #303030;
}

.nome-instituicao {
    font-size: 16px;
    padding: 5%;
    margin-bottom: 0;
}

.imagem-instituicao {
    border-radius: 10%;
    width: 50%;
    max-height: 116px;
}

.endereco-instituicao {
    margin-top: 10%;
    color: #2B2B2B;
}


#pagina-instituicao {
    img {
        width: 80%;
        border-radius: 10%;
    }
}

.titulo-pagina {
    font-size: 18px
}

.borda-embaixo {
    border-bottom: 2px solid #EA1515;
}

.secao-instituicao{
    font-size: 16px;
}

.link {
    color: #d63031
}

